@{
    ViewBag.Title = "Nosotros";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<h1>Nosotros somos: </h1>
<p>Nosotros somos una agencia muy responsable al servicio de los clientes para la ayuda continua.</p>
<br />
<img src="https://www.ionos.es/digitalguide/fileadmin/_processed_/9/2/csm_was-ist-html5-t_5f80dbf88a.jpg">
